<%= chatroom @chat_room.title %>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
    <small class="text-muted">From 2 to 1000 characters</small>
    <%= f.text_area :body, class: 'no-margins', 'onkeypress' => "submitForm(event,this)" %>
<% end %>
